<h2>Welcome to Ember.js</h2>
<ul>
  {{#each item in content}}
    <li
    	{{action 'removeColor' item}} >{{item}}
    	<button class="btn btn-danger btn-xs pull-right" {{action 'doDeleteNote' this}}>
      	Delete
      </button>
    </li>
  {{/each}}
</ul>
<p>Click a color to remove it!</p>
<p>{{input action="addColor" type="text" value=colorToAdd placeholder="Enter a color"}} <button class="button" {{action 'addColor'}}>Add</button></p>

		<div class="box">
			<button class="btn btn-inverse" {{action 'getMessage'}}>
				hello
			</button>
			{{view Ember.TextArea class="span6" valueBinding="message" rows="5" placeholder=""}}
		</div>
{{partial 'confirm'}}
